<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumSuite" parallel="false">
  <test name="CreateTestNG">
    <classes>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumBrowserCfgExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumDataDrivenSearchExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumSimpleSearchExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumDependentMethodExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumDriverInjectionExample"/>
    </classes>
  </test> <!-- CreateTestNG -->
</suite> <!-- SeleniumSuite -->
